* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Hide the scrollbar */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}
#root {
  width: 100vw;
  overflow: hidden;
}
